POSICIONES_ENTRENADORES=[1|2,3|7,5|5]
POKEMON_ENTRENADORES=[Pikachu,                             Charmander,                     Squirtle]
OBJETIVOS_ENTRENADORES=[Pikachu|Charmander|Charmander,Charmander|Squirtle|Squirtle,Squirtle|Pikachu|Pikachu]
TIEMPO_RECONEXION=999999
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=SJFCD
QUANTUM=2
ESTIMACION_INICIAL=1
ALPHA=0.5
IP_BROKER=127.0.0.1
PUERTO_BROKER=4444
LOG_FILE=/home/utnso/log_team1.txt