POSICIONES_ENTRENADORES=[1|2,3|7,5|5]
POKEMON_ENTRENADORES=[Pikachu,                             Charmander,                     Squirtle]
OBJETIVOS_ENTRENADORES=[Pikachu|Charmander,Charmander|Squirtle,Squirtle|Pikachu]
TIEMPO_RECONEXION=10
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=RR
QUANTUM=2
ESTIMACION_INICIAL=1
ALPHA=0.5
IP_BROKER=127.0.0.1
PUERTO_BROKER=4444
LOG_FILE=/home/utnso/workspace/tp-2020-1c-Bomberman-2.0/Procesos/Team/team.log